@font-face {
    font-family: 'Mabry Pro';
    src: url('./MabryPro-Regular.woff2') format('woff2'),
    url('./MabryPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Mabry Pro', sans-serif;
}